$white = whitesmoke
$black = #1C140D
$back1 = #F2E9E1
$back2 = #CBE86B

*
  box-sizing border-box

html, body
  height 100%
  margin 0

body
  background-color $white
  color $black
  font-size 20px

main
  display flex
  height 100%

  & > section
    flex 1
    height 100%


/* CHAT */

#chat {}
#chat > div
  height 100%
  display flex
  flex-direction column
  align-content flex-end

#messages-action
  flex 2
  min-height 40px
#messages
  flex 70
#input
  flex 6

#messages-action
  background-color $black
  color $back1
  padding 10px

  a
    float right
    cursor pointer

#messages
  padding-top 4px
  overflow-x hidden
  overflow-y scroll

  &::-webkit-scrollbar 
    width 0.6em

  &::-webkit-scrollbar-track 
    background-color $back1

  &::-webkit-scrollbar-thumb 
    background-color darken($back1, 25)

  .message
    overflow auto
    margin 0 0 3px 6px
    font-size 16px

    &:hover
      background-color $back1
    &.selected
      background-color $back2

    & > img
      float left
      display block
      width 10%
      max-width 40px
    & > div
      float left
      width 89%
      margin-left 1%
      & > strong
        display block

#input
  clear both
  width 100%

  & > *
    float left
    height 100%
    font-size 16px

  textarea
    width 80%
    margin 0
    overflow hidden
    border none
    resize vertical
    padding 4px 8px
    &:hover
      outline none
  button
    width 20%


/* CARDS */

#cards {}

.card
  margin 6px
  padding 7px 7px
  border-radius 7px
  border 4px solid $back2
  background $back1

  .name
    padding 2px 2px 4px 4px
    border-radius 7px
    display block

    input
      color inherit
      background inherit
      font-family inherit
      font-size inherit
      border none

    span
      margin-left 10px
      color #aaa
      font-family monospace
      font-size 13px

#fullcard
  position relative
  width 100%
  height 100%

  .card
    z-index 10
    position absolute
    top 0
    left 10%
    width 80%

    .content
      background-color $white
      border-radius 2px
      margin 5px 0
      padding 5px
      display flex

      & > .text, & > .conversation
        flex 20
      & > .delete
        flex 1
        visibility hidden
        &:hover
          text-shadow 1px 1px 1px #aaa
        &:active
          text-shadow none
      &:hover > .delete
        visibility visible
        cursor pointer

    .message
      overflow auto
      font-size 13px

      div
        display inline
      img
        height 12px
      strong::before
        content ' '
      strong::after
        content ': '

    .add-content
      cursor pointer
      background-color $back2
      padding 0 8px
      border 1px solid $back2
      float right
      line-height 6px
      border-radius 3px

  .back
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 0

#cardlist
  display flex
  flex-wrap wrap

  .card
    width 200px
    max-width 250px

    .name
      cursor pointer
      &:hover
        background-color $back2

    .contents
      font-size 13px
      max-height 40px
      overflow hidden
