@require 'basic.styl';

$white = whitesmoke
$black = #1C140D
$back1 = #F2E9E1
$back2 = #CBE86B

*
  box-sizing border-box

html, body
  height 100%
  margin 0

body
  background-color $white
  color $black
  font-size 20px

#container
  height 100%

  aside
    height 40px
    display flex
    background $back1

    .channel, .user
      flex 1
      height 100%
      width 100%

      a
        display block
        padding 6px 10px 10px 10px
        height 100%
        width 100%
        &:hover
          background $back2

      &.active a
        background $back2
        &:hover
          background lighten($back2, 10)

      img
        height 104%
        margin 0 4px -4px 0

    .channel
      span
        position absolute
        width 150px
        height 26px
        overflow hidden
        text-overflow ellipsis
      small
        margin-left 2px
        font-size 12px
        float right
        clear both
    .user
      text-align right

#channel, #user
  position absolute
  display none
  padding 18px
  font-size 22px

  &.active
    display block
    width 50%
    height calc(100% - 40px)
    background $back2

#channel
  .open-connections
    small
      display block
      font-size 12px

#user
  ul
    padding 0
    list-style none
    margin-top -2px
    li
      margin-bottom 4px
    img
      height 20px
      margin 0 4px -4px 0
  li
    margin 0

#channel
  left 0

#user
  right 0

.profile
  text-align center
  margin 10px auto
  img
    height 40px
  span
    display block

.config-form
  input
    display block
    width 96%
    margin 10px auto
    padding 4px
    font-size 18px
  button
    display block
    font-size 24px
    padding 5px 15px
    margin 10px auto

main
  height calc(100% - 40px)
  display flex

  & > section
    flex 1
    height 100%


/* CHAT */

#chat {}
#chat > div
  height 100%
  display flex
  flex-direction column
  align-content flex-end

#messages-action
  flex 2
  min-height 40px
#messages
  flex 70
#input
  flex 6

#messages-action
  background-color $black
  color $back1
  padding 10px

  a
    margin-left 1%

  a:last-child
    float right

#messages
  padding-top 4px
  overflow-x hidden
  overflow-y scroll

  &::-webkit-scrollbar
    width 0.6em

  &::-webkit-scrollbar-track
    background-color $back1

  &::-webkit-scrollbar-thumb
    background-color darken($back1, 25)

  .message
    overflow auto
    margin 0 0 3px 6px
    font-size 16px

    &:hover
      background-color $back1
    &.selected
      background-color $back2

    & > img
      float left
      display block
      width 10%
      max-width 40px
    & > div
      float left
      width 89%
      margin-left 1%
      & > strong
        display block

.message
  .text > p /* generated by the markdown renderer */
    margin 0
    display inline

#input
  clear both
  width 100%

  & > *
    float left
    height 100%
    font-size 16px

  textarea
    width 80%
    margin 0
    overflow hidden
    border none
    resize vertical
    padding 4px 8px
    &:hover
      outline none
  button
    width 20%


/* CARDS */

#cards {}

.card
  margin 6px
  padding 7px 7px
  border-radius 7px
  border 4px solid $back2
  background $back1

  .name
    padding 2px 2px 4px 4px
    border-radius 7px
    display block

    input
      color inherit
      background inherit
      font-family inherit
      font-size inherit
      border none

    span
      margin-left 10px
      color #aaa
      font-family monospace
      font-size 13px

#fullcard
  position relative
  width 100%
  height 100%

  .card
    z-index 10
    position absolute
    top 0
    left 10%
    width 80%

    .content
      background-color $white
      border-radius 2px
      margin 5px 0
      padding 5px
      display flex

      & > .text, & > .conversation
        flex 20
      & > .delete
        flex 1
        visibility hidden
        &:hover
          text-shadow 1px 1px 1px #aaa
        &:active
          text-shadow none
      &:hover > .delete
        visibility visible

    .message
      overflow auto
      font-size 13px

      div
        display inline
      img
        height 12px
      strong::before
        content ' '
      strong::after
        content ': '

    .add-content
      background-color $back2
      padding 0 8px
      border 1px solid $back2
      float right
      line-height 6px
      border-radius 3px

  .back
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 0

#cardlist
  display flex
  flex-wrap wrap

  .card
    width 200px
    max-width 250px

    .name
      cursor pointer
      &:hover
        background-color $back2

    .contents
      font-size 13px
      max-height 40px
      overflow hidden
