* { box-sizing: border-box }

main {
  display: flex;
}
main > section {
  flex: 1;
}

#chat {}
#messages {}
  #messages .message {
    overflow: auto;
    margin-bottom: 3px;
  }
    .message > img {
      float: left;
      display: block;
      width: 10%;
    }
    .message > div {
      float: left;
      width: 89%;
      margin-left: 1%;
    }
      .message > div > strong {
        display: block;
      }
#input {
  clear: both;
  width: 100%;
}
  #input input { width: 80%; }
  #input button { width: 20%; }

#cards {}
  .card {
    margin: 6px;
    padding: 7px;
    border-radius: 4px;
    border: 2px solid #AAA;
  }
  .card b {
    display: block;
  }
  .card .close {
    float: right;
    color: #ff0202;
    cursor: pointer;
  }
  #fullcard {
    position: relative;
    width: 100%;
    height: 100%;
  }
    #fullcard .card {
      position: absolute;
      top: 0;
      z-index: 10;
    }
    #fullcard .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  #cardlist {
    display: flex;
    flex-wrap: wrap;
  }
    #cardlist .card {
      flex: 1;
      width: 200px;
      max-width: 250px;
    }
    #cardlist .card b {
      cursor: pointer;
    }
    #cardlist .card b:hover {
      background-color: #ABC;
    }
